Package: com.cann66.blackjackhack
Name: Blackjack Card Hack
Author: Cann66
Description: Cards are always shown face up
Depends: mobilesubstrate
Maintainer: Cann66 <cann66dev@gmail.com
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
